.container {
  display: grid;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  padding-left: 1.75rem;
  padding-right: 0.75rem;
}

.layout {
  height: 100;
}

.nameWrapper {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.name {
  color: var(--text-white-100);
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

.text {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  font-weight: 700;
}
